{{define "html-start"}}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/base.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
    {{if .css}}
    <link rel="stylesheet" href="/assets/styles/{{.css}}" />
    {{end}}
    <title>Saga Doors</title>
  </head>
  <body>
    <nav class="dark-theme">
      <div class="nav-div">
        <img src="/assets/images/logo.png" alt="Логотип" />
        <ul>
          <li><a class="button button--tertiary" href="/#main">Главная</a></li>
          <li><a class="button button--tertiary" href="/#about">О нас</a></li>
          <li><a class="button button--tertiary" href="/#dealers-list">Наши дилеры</a></li>
          <li><a class="button button--tertiary" href="/#for-dealer">Стать дилером</a></li>
          <li><a class="button button--tertiary" href="/#footer">Контакты</a></li>
        </ul>
      </div>
      <div class="nav-div">
        <a href="/gate_type" class="button button--tertiary">
          <img src="/assets/images/calculator.svg" alt="Калькулятор">
        </a>
        {{if not .user}}
        <a class="button button--primary" href="/sign_in">Войти</a>
        {{else}}
          <a href="/user" class="button button--tertiary">
            <img src="/assets/images/account_white.svg" alt="Профиль">
          </a>
        {{end}}
      </div>
    </nav>
    <main>{{end}}

{{define "html-end"}}</main>
    <footer id="footer">
      <div class="content">
        <div class="section-company">
          <img src="/assets/images/logo.png" alt="" width="48px" height="48px">
          <p>Saga Doors</p>
        </div>
        <hr class="separator">
        <div class="section-about">
          <ul>
            <li>О компании</li>
            <li>Главная</li>
            <li>О нас</li>
            <li>Наши дилеры</li>
            <li>Стать дилером</li>
          </ul>
        </div>
        <hr class="separator">
        <div class="section-contacts">
          <ul>
            <li>Контакты</li>
            <li>+7 (343) 343 96-99</li>
            <li>г. Березовский</li>
          </ul>
        </div>
        <hr class="separator">
        <div class="section-details">
          <ul>
            <li>Реквизиты</li>
            <li>ООО Сага Дорс</li>
            <li>ИНН 6671287803</li>
          </ul>
        </div>
      </div>
      <hr class="separator">
      <div class="bottom">
        <p>© 2026 Сага Дорс. Все права защищены</p>
        <div class="social-icons">
          <img src="/assets/images/max-messenger.svg" alt="Мессенджер Max" width="24px" height="24px">
        </div>
      </div>
    </footer>
  </body>
</html>
{{end}}

{{define "no-footer-end"}}
    </main>
  </body>
</html>
{{end}}
