<!-- Шаблон Select с наценкой -->
{{define "select_markup"}}
<div class="select">
  <button type="button">
    <span>{{.Label}}</span>
  </button>

  <ul>
    {{range .Options}}
    <li>
      <button
        type="button"
        data-id="{{.ID}}"
        {{if
        $.isDealer}}
        data-markup="{{.WholesaleMarkup}}"
        data-retail="{{.RetailMarkup}}"
        {{else}}
        data-markup="{{.RetailMarkup}}"
        {{end}}
      >
        {{.Name}}
      </button>
    </li>
    {{end}}
  </ul>

  <input type="hidden" name="{{.Name}}" />
</div>
{{end}}

<!-- Шаблон Select с ценой -->
{{define "select_price"}}
<div class="select">
  <button type="button">
    <span>{{.Label}}</span>
  </button>

  <ul>
    {{range .Options}}
    <li>
      <button
        type="button"
        data-id="{{.ID}}"
        {{if
        $.isDealer}}
        data-price="{{.WholesalePrice}}"
        data-retail="{{.RetailPrice}}"
        {{else}}
        data-price="{{.RetailPrice}}"
        {{end}}
      >
        {{.Name}}
      </button>
    </li>
    {{end}}
  </ul>

  <input type="hidden" name="{{.Name}}" />
</div>
{{end}}

<!-- Шаблон Select для выбора цвета -->
{{define "select_color"}}
<div class="select">
  <button type="button">
    <span>{{.Label}}</span>
  </button>

  <ul>
    {{range .Options}}
    <li>
      <button
        type="button"
        data-id="{{.ID}}"
        style="background-color: #{{.Hex}};"
      >
        {{.Code}}
      </button>
    </li>
    {{end}}
  </ul>

  <input type="hidden" name="{{.Name}}" />
</div>
{{end}}

<!-- Шаблон Text Input -->
{{define "text"}}
<input
  type="text"
  id="{{.ID}}"
  name="{{.Name}}"
  value="{{.Value}}"
  {{if
  .Required}}required{{end}}
/>
{{end}}

<!-- Шаблон Email Input-->
{{define "email"}}
<input
  type="email"
  id="email"
  name="email"
  value="{{.Value}}"
  {{if
  .Required}}required{{end}}
/>
{{end}}

<!-- Шаблон Number Input -->
{{define "number"}}
<div class="number">
  <input
    type="number"
    value="{{.Value}}"
    min="{{.MinValue}}"
    max="{{.MaxValue}}"
    id="{{.ID}}"
    name="{{.Name}}"
    {{if
    .Required}}required{{end}}
  />

  <div class="controls">
    <button type="button" data-step="up">
      <img
        src="/assets/images/chevron_up.svg"
        width="24"
        height="12"
        alt="Up"
      />
    </button>
    <button type="button" data-step="down">
      <img
        src="/assets/images/chevron_down.svg"
        width="24"
        height="12"
        alt="Down"
      />
    </button>
  </div>
</div>
{{end}}

<!-- Шаблон Password Input -->
{{define "password"}}
<div class="password">
  <input
    id="password"
    name="password"
    type="password"
    placeholder="****************"
    aria-label=""
    required
  />

  <button type="button" aria-label="Показать пароль">
    <img
      src="/assets/images/eye_open.svg"
      width="24"
      height="24"
      alt="Show password"
    />
  </button>
</div>
{{end}}

<!-- Шаблон Tel Input -->
{{define "phone"}}
<div class="phone">
  <span class="prefix">+7</span>

  <input
    type="tel"
    placeholder="(___) ___−__−__"
    inputmode="numeric"
    autocomplete="tel"
    required
  />
</div>
{{end}}

<!-- Шаблон Date Input -->
{{define "date"}}
<div class="date">
  <input type="date" placeholder="__/__/____" {{if .Required}}required{{end}} />

  <button type="button" aria-label="Выбрать дату">
    <img src="/assets/images/calendar.svg" alt="Calendar" />
  </button>
</div>
{{end}}
