<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/web/assets/styles/library/index.css" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/pages/{{.css}}" />
    {{end}}
    <title>Мои дилеры</title>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <h1>Дилеры пользователя {{.user.Fullname}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ФИО дилера</th>
            <th>Email</th>
            <th>Номер телефона</th>
          </tr>
        </thead>
        <tbody>
          {{range .dealers}}
          <tr>
            <td>{{.Dealer.Fullname}}</td>
            <td>{{.Dealer.Email}}</td>
            <td>{{.Dealer.PhoneNumber}}</td>
          </tr>
          {{else}}
          <tr>
            <td colspan="3">У данного менеджера отсутствуют дилеры</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </main>
    {{template "footer" .}}
  </body>
</html>
