<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/web/assets/styles/library/index.css" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/pages/{{.css}}" />
    {{end}}
    <title>Заявки на регистрацию</title>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <h1>Заявки на регистрацию</h1>
      {{if .regRequests}}
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Компания</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Телефон</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range .regRequests}}
          <tr>
            <td>{{.ID}}</td>
            <td>{{.Company}}</td>
            <td>{{.Fullname}}</td>
            <td>{{.Email}}</td>
            <td>{{.PhoneNumber}}</td>
            <td class="reg-actions">
              {{if eq $.user.Role "manager"}}<button class="btn secondary" onclick="confirmRegRequest({{.ID}})">Подтвердить</button>{{end}}
              <button class="btn secondary" onclick="rejectRegRequest({{.ID}})">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                  <path d="M3 6h18" />
                  <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                </svg>
              </button>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{else}}
      <p class="empty-state">Нет новых заявок на регистрацию</p>
      {{end}}
    </main>
    {{template "footer" .}}
    <script src="/web/assets/scripts/reg_requests.js"></script>
    <script src="/web/assets/scripts/sweetalert2.all.min.js"></script>
  </body>
</html>
