{{template "html-start" .}}
<div class="calc-content">
  <!--Панель выбора элементов заказа-->
  <div class="tab">
    <button
      class="tablinks button button--secondary"
      onclick="showItem(event, 'mainConfig')"
    >
      Конфигурация
    </button>
    <button
      class="tablinks button button--secondary"
      onclick="showItem(event, 'options')"
    >
      Дополнительные опции
    </button>
    <button
      class="tablinks button button--secondary"
      onclick="showItem(event, 'products')"
    >
      Товары
    </button>
  </div>
  <form method="POST" class="myForm" id="myForm">
    <!--Блок для настройки конфигурации ворот-->
    <div id="mainConfig" class="tabItem">
      <div class="form">
        <!--Тип ворот-->
        <input
          type="text"
          style="display: none"
          class="gateType"
          name="gateType"
        />
        <!--Ширина-->
        <label for="width">Ширина</label>
        {{template "number" (dict "ID" "width" "Name" "width" "Value"
        .cfg.WidthParams.MinValue "MinValue" .cfg.WidthParams.MinValue
        "MaxValue" .cfg.WidthParams.MaxValue "Required" true)}}

        <!--Высота-->
        <label for="height">Высота</label>
        {{template "number" (dict "ID" "height" "Name" "height" "Value"
        .cfg.HeightParams.MinValue "MinValue" .cfg.HeightParams.MinValue
        "MaxValue" .cfg.HeightParams.MaxValue "Required" true)}}

        <!--Тип подъема-->
        <label for="liftType">Тип подъема</label>
        {{template "select_markup" (dict "Label" "Выберите тип подъема"
        "Options" .cfg.LiftTypes "isDealer" $.isDealer "Name" "liftType")}}

        <!--Количество циклов-->
        <label for="cycleAmount">Количество циклов</label>
        {{template "select_markup" (dict "Label" "Выберите количество циклов"
        "Options" .cfg.CycleAmounts "isDealer" $.isDealer "Name"
        "cycleAmount")}}
        <!--Цвет ворот снаружи (реализация через checkbox button)-->
        <label for="colorOut">Цвет ворот снаружи</label>
        {{template "select_color" (dict "Label" "Выберите цвет ворот снаружи"
        "Options" .cfg.Colors "Name" "colorOut")}}

        <!--Привод-->
        <label for="drive">Привод</label>
        {{if .cfg.IndustrialDrives}} {{template "select_price" (dict "Label"
        "Выберите привод" "Options" .cfg.IndustrialDrives "isDealer" $.isDealer
        "Name" "drive")}} {{else}} {{template "select_price" (dict "Label"
        "Выберите привод" "Options" .cfg.ResidentialDrives "isDealer" $.isDealer
        "Name" "drive")}} {{end}}
      </div>
      <div class="standart-configuration">
        <img src="/assets/images/scheme.png" alt="Схема ворот" />
        <p>Стандартная конфигурация:</p>
        <ul>
          <li>
            Полотно из сэндвич-панелей 40мм и усилением под петли и регулируемые
            кронштейны
          </li>
          <li>Петли и регулируемые кронштейны из оцинкованной стали</li>
          <li>Комплект подвесов с притолкой до 500мм в комплекте</li>
          <li>Ручка двусторонняя, задвижка</li>
          <li>Комплект амортизаторов (при установки вального привода)</li>
        </ul>
      </div>
      <button class="addButton" type="button" onclick="addInOrder()">
        Добавить в заказ
      </button>
    </div>

    <!--Блок для выбора дополнительных опций к воротам-->
    <template id="optionTemplate">
      <div class="option-div">
        {{template "select_price" (dict "Label" "Выберите опцию" "Options"
        .cfg.Options "isDealer" $.isDealer "Name" "option")}}
        <input
          type="number"
          name="amount"
          oninput="updateTotalPrice()"
          min="1"
          value="1"
        />
        <button onclick="deleteItem(this, '.option-div')">-</button>
      </div>
    </template>

    <div id="options" class="tabItem">
      <div id="optionList"></div>
      <button class="addButton" type="button" onclick="addGateOption()">
        Добавить еще
      </button>
    </div>

    <!--Блок для выбора товаров-->
    <template id="productTemplate">
      <div class="product-div">
        {{template "select_price" (dict "Label" "Выберите товар" "Options"
        .cfg.Products "isDealer" $.isDealer "Name" "product")}}
        <input
          type="number"
          name="amount"
          oninput="updateTotalPrice()"
          min="1"
          value="1"
        />
        <button onclick="deleteItem(this, '.product-div')">-</button>
      </div>
    </template>

    <div id="products" class="tabItem">
      <div id="productList"></div>
      <button class="addButton" type="button" onclick="addProductInOrder()">
        Добавить еще
      </button>
    </div>
  </form>
</div>
<div
  style="
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
  "
>
  <!--Стоимость заказа-->
  <p style="display: block; width: 70%" class="totalPrice">0</p>
  <button
    style="width: 30%; margin: 1rem 4rem"
    type="button"
    onclick="placeOrder()"
  >
    Оформить заказ
  </button>
</div>
<script src="/assets/scripts/protobuf.min.js"></script>
<script src="/assets/scripts/tab.js"></script>
<script src="/assets/scripts/client_calc.js"></script>
{{template "no-footer-end"}}
