{{template "html-start" .}}
<div class="calc-content">
  <!--Панель выбора элементов заказа-->
  <div class="tab">
    <button
      class="tablinks button button--secondary"
      onclick="showItem(event, 'mainConfig')"
    >
      Конфигурация
    </button>
    <button
      class="tablinks button button--secondary"
      onclick="showItem(event, 'options')"
    >
      Дополнительные опции
    </button>
    <button
      class="tablinks button button--secondary"
      onclick="showItem(event, 'products')"
    >
      Товары
    </button>
    <div class="gate-list">
      <p>Список ворот в заказе:</p>
      <ul id="gateList"></ul>
      <button
        id="addGateToOrderButton"
        type="button"
        class="button button--secondary"
      >
        Добавить ворота
      </button>
    </div>
  </div>
  <form method="POST" class="myForm" id="myForm">
    <!--Блок для настройки конфигурации ворот-->
    <h1 class="headerGateNumber">Ворота №</h1>
    <div id="mainConfig" class="tabItem">
      <div class="form">
        <input type="hidden" id="isDealer" value="{{.isDealer}}" />
        <!--Тип ворот-->
        <div class="input-container">
          <label for="gateType">Тип ворот</label>
          <select name="gateType" id="gateType">
            <option value="res" selected>Бытовые ворота</option>
            <option value="ind">Промышленные ворота</option>
          </select>
        </div>
        <!--Ширина-->
        <div class="input-container">
          <label for="width">Ширина</label>
          <input
            name="width"
            id="width"
            type="number"
            min="{{.resCfg.WidthParams.MinValue}}"
            max="{{.resCfg.WidthParams.MaxValue}}"
            value="{{.resCfg.WidthParams.MinValue}}"
          />
        </div>

        <!--Высота-->
        <div class="input-container">
          <label for="height">Высота</label>
          <input
            name="height"
            id="height"
            type="number"
            min="{{.resCfg.HeightParams.MinValue}}"
            max="{{.resCfg.HeightParams.MaxValue}}"
            value="{{.resCfg.HeightParams.MinValue}}"
          />
        </div>

        <!--Высота притолки-->
        <div class="input-container">
          <label for="headroom">Высота притолки</label>
          <input
            name="headroom"
            id="headroom"
            type="number"
            min="0"
            value="0"
          />
        </div>

        <!--Тип подъема-->
        <div class="input-container">
          <label for="liftType">Тип подъема</label>
          <select name="liftType" id="liftType">
            {{range .resCfg.LiftTypes}}
            <option
              value="{{.ID}}"
              data-client-markup="{{.RetailMarkup}}"
              {{if
              $.isDealer}}
              data-dealer-markup="{{.WholesaleMarkup}}"
              {{else}}
              data-dealer-markup="0"
              {{end}}
            >
              {{.Name}}
            </option>
            {{end}}
          </select>
        </div>

        <!--Количество циклов-->
        <div class="input-container">
          <label for="cycleAmount">Количество циклов</label>
          <select name="cycleAmount" id="cycleAmount">
            {{range .resCfg.CycleAmounts}}
            <option
              value="{{.ID}}"
              data-client-markup="{{.RetailMarkup}}"
              {{if
              $.isDealer}}
              data-dealer-markup="{{.WholesaleMarkup}}"
              {{else}}
              data-dealer-markup="0"
              {{end}}
            >
              {{.Name}}
            </option>
            {{end}}
          </select>
        </div>

        <!--Цвет ворот снаружи-->
        <div class="input-container">
          <label for="colorOut">Цвет ворот снаружи</label>
          <select name="colorOut" id="colorOut">
            {{range .resCfg.Colors}}
            <option value="{{.ID}}">{{.Code}}</option>
            {{end}}
          </select>
        </div>

        <!--Тип привода-->
        <div class="input-container">
          <label for="driveType">Тип привода</label>
          <select id="driveType"></select>
        </div>

        <!--Ручной привод-->
        <div class="input-container manual">
          <label for="chainLength">Длина цепи</label>
          <input
            name="chainLength"
            id="chainLength"
            type="number"
            min="0"
            value="0"
          />
        </div>

        <!--Автоматический привод-->
        <div class="input-container">
          <label for="drive">Привод</label>
          <select name="drive" id="drive"></select>
        </div>
        <!--Автоматический привод-->
        <div class="input-container rail">
          <label for="rail">Направляющая</label>
          <select name="rail" id="rail"></select>
        </div>
      </div>
      <div class="standart-configuration">
        <img src="/assets/images/scheme.png" alt="Схема ворот" />
        <p>Стандартная конфигурация:</p>
        <ul>
          <li>
            Полотно из сэндвич-панелей 40мм и усилением под петли и регулируемые
            кронштейны
          </li>
          <li>Петли и регулируемые кронштейны из оцинкованной стали</li>
          <li>Комплект подвесов с притолкой до 500мм в комплекте</li>
          <li>Ручка двусторонняя, задвижка</li>
          <li>Комплект амортизаторов (при установки вального привода)</li>
        </ul>
      </div>
    </div>

    <!--Блок для выбора дополнительных опций к воротам-->
    <template id="optionTemplate">
      <div class="option-div">
        <select name="option">
          {{range .resCfg.Options}}
          <option
            value="{{.ID}}"
            data-client-price="{{.RetailPrice}}"
            {{if
            $.isDealer}}
            data-dealer-price="{{.WholesalePrice}}"
            {{else}}
            data-dealer-price="0"
            {{end}}
          >
            {{.Name}}
          </option>
          {{end}}
        </select>
        <div class="controls">
          <input type="number" name="amount" min="1" value="1" />
          <button
            type="button"
            class="button button--secondary"
            onclick="removeItem(this, '.option-div')"
          >
            Удалить
          </button>
        </div>
      </div>
    </template>

    <div id="options" class="tabItem">
      <h2>Дополнительные опции</h2>
      <div id="optionList"></div>
      <button id="addOptionButton" class="button button--primary" type="button">
        Добавить еще
      </button>
    </div>

    <!--Блок для выбора товаров-->
    <template id="productTemplate">
      <div class="product-div">
        <select name="product">
          {{range .resCfg.Products}}
          <option
            value="{{.ID}}"
            data-client-price="{{.RetailPrice}}"
            {{if
            $.isDealer}}
            data-dealer-price="{{.WholesalePrice}}"
            {{else}}
            data-dealer-price="0"
            {{end}}
          >
            {{.Name}}
          </option>
          {{end}}
        </select>
        <div class="controls">
          <input type="number" name="amount" min="1" value="1" />
          <button
            type="button"
            class="button button--secondary"
            onclick="removeItem(this, '.product-div')"
          >
            Удалить
          </button>
        </div>
      </div>
    </template>

    <div id="products" class="tabItem">
      <h2>Товары</h2>
      <div id="productList"></div>
      <button
        id="addProductButton"
        class="button button--primary"
        type="button"
      >
        Добавить еще
      </button>
    </div>
  </form>
</div>
<div class="calc-footer dark-theme">
  <button class="button button--secondary">Скачать коммерческое</button>

  {{if .isDealer}}
  <button class="button button--secondary">Скачать договор</button>
  <div class="prices">
    <p>Цена текущих ворот (дилер):</p>
    <p class="gateDealerPrice">0</p>

    <p>Цена текущих ворот (клиент):</p>
    <p class="gateClientPrice">0</p>

    <p>Стоимость заказа (дилер):</p>
    <p class="totalDealerPrice">0</p>

    <p>Стоимость заказа (клиент):</p>
    <p class="totalClientPrice">0</p>
  </div>
  {{else}}
  <div class="prices">
    <p class="gateClientPrice">0</p>
    <p class="totalClientPrice">0</p>
  </div>
  {{end}}

  <button class="button button--primary" type="button" onclick="placeOrder()">
    Оформить заказ
  </button>
</div>

<script>
  window.gateConfigs = {
    ind: {{ .indCfg | toJSON }},
    res: {{ .resCfg | toJSON }}
  }
</script>
<script src="/assets/scripts/protobuf.min.js"></script>
<script src="/assets/scripts/tab.js"></script>
<script src="/assets/scripts/calc.js"></script>
{{template "no-footer-end"}}
