{{template "html-start" .}}
<!--Панель выбора элементов заказа-->
<div class="tab">
  <button
    type="button"
    class="tablinks"
    onclick="showItem(event, 'mainConfig')"
  >
    Конфигурация
  </button>
  <button type="button" class="tablinks" onclick="showItem(event, 'options')">
    Дополнительные опции
  </button>
  <button type="button" class="tablinks" onclick="showItem(event, 'products')">
    Товары
  </button>
    <button type="button" class="tablinks" onclick="showItem(event, 'standartCfg')">
    Стандартная конфигурация
  </button>
</div>
<hr />
<form method="POST" class="myForm" id="myForm">
  <!--Блок для настройки конфигурации ворот-->
  <div id="mainConfig" class="tabItem">
    <div class="list">
      <!--Тип ворот-->
      <input
        type="text"
        style="display: none"
        class="gateType"
        name="gateType"
      />
      <!--Ширина-->
      <label for="width">Ширина</label>
      <input
        name="width"
        id="width"
        oninput="updateSizePrice()"
        type="number"
        min="{{.cfg.WidthParams.MinWidth}}"
        max="{{.cfg.WidthParams.MaxWidth}}"
        value="{{.cfg.WidthParams.MinWidth}}"
      />

      <!--Высота-->
      <label for="height">Высота</label>
      <input
        name="height"
        id="height"
        oninput="updateSizePrice()"
        type="number"
        min="{{.cfg.HeightParams.MinHeight}}"
        max="{{.cfg.HeightParams.MaxHeight}}"
        value="{{.cfg.HeightParams.MinHeight}}"
      />

      <!--Тип подъема-->
      <label for="liftType">Тип подъема</label>
      <select name="liftType" oninput="updateTotalPrice()">
        {{range .cfg.LiftTypes}}
        <option data-id="{{.ID}}" data-markup="{{.RetailMarkup}}">
          {{.Name}}
        </option>
        {{end}}
      </select>

      <!--Количество циклов-->
      <label for="cycleAmount">Количество циклов</label>
      <select name="cycleAmount" oninput="updateTotalPrice()">
        {{range .cfg.CycleAmounts}}
        <option data-id="{{.ID}}" data-markup="{{.RetailMarkup}}">
          {{.Amount}}
        </option>
        {{end}}
      </select>
    </div>

    <div class="list">
      <!--Цвет ворот внутри (реализация через checkbox button)-->
      <div>
        <label for="colorIn">Цвет ворот внутри</label>
        <br />
        {{range .cfg.Colors}}
        <input
          name="colorIn"
          data-id="{{.ID}}"
          type="checkbox"
          style="background-color: #{{.Hex}};"
        />
        {{end}}
      </div>

      <!--Цвет ворот снаружи (реализация через checkbox button)-->
      <div>
        <label for="colorOut">Цвет ворот снаружи</label>
        <br />
        {{range .cfg.Colors}}
        <input
          name="colorOut"
          data-id="{{.ID}}"
          type="checkbox"
          style="background-color: #{{.Hex}};"
        />
        {{end}}
      </div>

      <!--Привод-->
      <label for="drive">Привод</label>
      {{if .cfg.IndustrialDrives}}
      <select name="drive" class="industrial" oninput="updateTotalPrice()">
        {{range .cfg.IndustrialDrives}}
        <option data-id="{{.ID}}" data-price="{{.RetailPrice}}">
          {{.Name}}
        </option>
        {{end}}
      </select>
      {{else}}
      <select name="drive" class="residential" oninput="updateTotalPrice()">
        {{range .cfg.ResidentialDrives}}
        <option data-id="{{.ID}}" data-price="{{.RetailPrice}}">
          {{.Name}}
        </option>
        {{end}}
      </select>
      {{end}}
    </div>
    <button class="addButton" type="button" onclick="addInOrder()">
      Добавить в заказ
    </button>
  </div>

  <!--Блок для выбора дополнительных опций к воротам-->
  <template id="optionTemplate">
    <select name="option" oninput="updateTotalPrice()">
      {{range .cfg.Options}}
      <option value="{{.Name}}" data-price="{{.RetailPrice}}" data-id="{{.ID}}">
        {{.Name}}
      </option>
      {{end}}
    </select>
  </template>

  <div id="options" class="tabItem">
    <div id="optionList"></div>
    <button class="addButton" type="button" onclick="addGateOption()">
      Добавить еще
    </button>
  </div>

  <!--Блок для выбора товаров-->
  <template id="productTemplate">
    <select name="product" oninput="updateTotalPrice()">
      {{range .cfg.Products}}
      <option value="{{.Name}}" data-price="{{.RetailPrice}}" data-id="{{.ID}}">{{.Name}}</option>
      {{end}}
    </select>
  </template>

  <div id="products" class="tabItem">
    <div id="productList"></div>
    <button class="addButton" type="button" onclick="addProductInOrder()">
      Добавить еще
    </button>
  </div>

  <!--Стандартная конфигурация-->
  <div id="standartCfg" class="tabItem">
    <p>Стандартная конфигурация</p>
  </div>

  <br />

  <div style="display: flex; flex-direction: row">
    <!--Стоимость заказа-->
    <p style="display: block; width: 70%" class="totalPrice">0</p>
    <button
      style="width: 30%; margin: 1rem 4rem"
      type="button"
      onclick="placeOrder()"
    >
      Оформить заказ
    </button>
  </div>
</form>

<script src="../assets/scripts/client_calc.js"></script>
<script src="../assets/scripts/tab.js"></script>
{{template "no-footer-end"}}
