{{template "html-start" .}}
<!--Панель выбора элементов заказа-->
<div class="tab">
  <button
    type="button"
    class="tablinks"
    onclick="showItem(event, 'mainConfig')"
  >
    Конфигурация
  </button>
  <button type="button" class="tablinks" onclick="showItem(event, 'options')">
    Дополнительные опции
  </button>
  <button type="button" class="tablinks" onclick="showItem(event, 'products')">
    Товары
  </button>
</div>

<hr />
<form method="POST" class="myForm" id="myForm">
  <!--Блок для настройки конфигурации ворот-->
  <div id="mainConfig" class="tabItem">
    <div class="list">
      <!--Тип ворот-->
      <input
        type="text"
        style="display: none"
        class="gateType"
        name="gateType"
      />
      <!--Ширина-->
      <label for="width">Ширина</label>
      <input
        name="width"
        id="width"
        oninput="updateSizePrice()"
        type="number"
        min="{{.cfg.WidthParams.MinWidth}}"
        max="{{.cfg.WidthParams.MaxWidth}}"
        value="{{.cfg.WidthParams.MinWidth}}"
      />
      <!--Высота-->
      <label for="height">Высота</label>
      <input
        name="height"
        id="height"
        oninput="updateSizePrice()"
        type="number"
        min="{{.cfg.HeightParams.MinHeight}}"
        max="{{.cfg.HeightParams.MaxHeight}}"
        value="{{.cfg.HeightParams.MinHeight}}"
      />

      <!--Тип подъема-->
      <label for="liftType">Тип подъема</label>
      <select name="liftType" oninput="updateSizePrice()">
        {{range .cfg.LiftTypes}}
        <option
          data-id="{{.ID}}"
          data-markup="{{.WholesaleMarkup}}"
          data-retail="{{.RetailMarkup}}"
        >
          {{.Name}}
        </option>
        {{end}}
      </select>

      <!--Количество циклов-->
      <label for="cycleAmount">Количество циклов</label>
      <select name="cycleAmount" oninput="updateSizePrice()">
        {{range .cfg.CycleAmounts}}
        <option
          data-id="{{.ID}}"
          data-markup="{{.WholesaleMarkup}}"
          data-retail="{{.RetailMarkup}}"
        >
          {{.Amount}}
        </option>
        {{end}}
      </select>
    </div>

    <div class="list">
      <!--Цвет ворот внутри (реализация через checkbox button)-->
      <div>
        <label for="colorIn">Цвет ворот внутри</label>
        <br />
        {{range .cfg.Colors}}
        <input
          name="colorIn"
          data-id="{{.ID}}"
          type="checkbox"
          style="background-color: #{{.Hex}};"
        />
        {{end}}
      </div>
<br>
      <!--Цвет ворот снаружи (реализация через checkbox button)-->
      <div>
        <label for="colorOut">Цвет ворот снаружи</label>
        <br />
        {{range .cfg.Colors}}
        <input
          name="colorOut"
          data-id="{{.ID}}"
          type="checkbox"
          style="background-color: #{{.Hex}};"
        />
        {{end}}
      </div>

      <!--Привод-->
      <label for="drive">Привод</label>
      {{if .cfg.IndustrialDrives}}
      <select name="drive" class="industrial" oninput="updateSizePrice()">
        {{range .cfg.IndustrialDrives}}
        <option
          data-id="{{.ID}}"
          data-price="{{.WholesalePrice}}"
          data-retail="{{.RetailPrice}}"
        >
          {{.Name}}
        </option>
        {{end}}
      </select>
      {{else}}
      <select name="drive" class="residential" oninput="updateSizePrice()">
        {{range .cfg.ResidentialDrives}}
        <option
          data-id="{{.ID}}"
          data-price="{{.WholesalePrice}}"
          data-retail="{{.RetailPrice}}"
        >
          {{.Name}}
        </option>
        {{end}}
      </select>
      {{end}}
    </div>
    <button class="addButton" type="button" onclick="addInOrder()">Добавить в заказ</button>
  </div>

  <!--Блок для выбора дополнительных опций к воротам-->
  <div id="options" class="tabItem">
    <p>Дополнительные опции</p>
    <input type="button" onclick="addGateOption()" value="Добавить в заказ" />
  </div>

  <!--Блок для выбора товаров-->
  <div id="products" class="tabItem">
    <p>Товары</p>
    <input
      type="button"
      onclick="addProductInOrder()"
      value="Добавить в заказ"
    />
  </div>
  <br />
  <!--Стоимость заказа-->
  <div style="display: flex; flex-direction: row;">
    <div style="width: 70%;">
      <p class="totalDealerPrice">0</p>
      <p class="totalClientPrice">0</p>
    </div>
    <button style="width: 30%; margin: 1rem 4rem;" type="button" onclick="placeOrder()">Оформить заказ</button>
</form>
<script src="../assets/scripts/dealer_calc.js"></script>
<script src="../assets/scripts/tab.js"></script>
{{template "html-end"}}
