.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  justify-content: center;
  margin: var(--spacing-xl) auto;
  padding: var(--spacing-xl);
  box-shadow: 0 0 8px light-dark(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  border: 2px solid light-dark(var(--color-base-300), var(--color-base-700));
  background-color: light-dark(var(--color-base-200), var(--color-base-800));
  border-radius: var(--radius-box);
  width: clamp(18rem, 42%, 30rem);
}

.form-container .tabs {
  margin-bottom: var(--spacing-s);
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);

  .input,
  .select {
    width: 100%;
  }

  label.input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

.validator-hint {
  font-size: var(--font-size-xs);
  padding: var(--spacing-xs) 0;
}

label.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-s);
  font-size: var(--font-size-s);
}

@media (max-width: 767px) {
  .form-container {
    width: calc(100% - var(--spacing-l) * 2);
    margin: var(--spacing-l);
    padding: var(--spacing-l);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-container {
    width: clamp(18rem, 55%, 30rem);
  }
}
