.tabs {
  display: flex;
  gap: 20px;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: max-content;
    padding: 10px;

    label {
      width: 100%;

      input[type="radio"] {
        all: unset;
      }
    }
  }

  .content {
    flex: 1;
    min-width: 0;
    padding: 10px;

    li {
      display: flex;
      flex-direction: column;
    }
  }
}

#gate-tabs {
  counter-reset: gate-tabs;

  list-style-type: none;
  margin: 0;
  padding: 0 0 var(--spacing-xs) 0;

  li {
    display: flex;
    justify-content: space-between;

    input[type="radio"] {
      display: none;
    }

    p {
      margin: 0;
    }

    p::after {
      counter-increment: gate-tabs;
      content: counter(gate-tabs);
    }

    &:only-child button {
      display: none;
    }
  }
}

#gate-list {
  counter-reset: gates;

  margin: 0;
  padding: 0;

  h3::after {
    counter-increment: gates;
    content: counter(gates);
  }

  .gate-item {
    position: relative;
    height: 0;
    width: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.tabs:has(#gate-tabs li:nth-child(1) input[type="radio"]:checked)
  #gate-list
  li:nth-child(1),
.tabs:has(#gate-tabs li:nth-child(2) input[type="radio"]:checked)
  #gate-list
  li:nth-child(2),
.tabs:has(#gate-tabs li:nth-child(3) input[type="radio"]:checked)
  #gate-list
  li:nth-child(3),
.tabs:has(#gate-tabs li:nth-child(4) input[type="radio"]:checked)
  #gate-list
  li:nth-child(4),
.tabs:has(#gate-tabs li:nth-child(5) input[type="radio"]:checked)
  #gate-list
  li:nth-child(5),
.tabs:has(#gate-tabs li:nth-child(6) input[type="radio"]:checked)
  #gate-list
  li:nth-child(6),
.tabs:has(#gate-tabs li:nth-child(7) input[type="radio"]:checked)
  #gate-list
  li:nth-child(7),
.tabs:has(#gate-tabs li:nth-child(8) input[type="radio"]:checked)
  #gate-list
  li:nth-child(8),
.tabs:has(#gate-tabs li:nth-child(9) input[type="radio"]:checked)
  #gate-list
  li:nth-child(9),
.tabs:has(#gate-tabs li:nth-child(10) input[type="radio"]:checked)
  #gate-list
  li:nth-child(10),
.tabs:has(#gate-tabs li:nth-child(11) input[type="radio"]:checked)
  #gate-list
  li:nth-child(11),
.tabs:has(#gate-tabs li:nth-child(12) input[type="radio"]:checked)
  #gate-list
  li:nth-child(12),
.tabs:has(#gate-tabs li:nth-child(13) input[type="radio"]:checked)
  #gate-list
  li:nth-child(13),
.tabs:has(#gate-tabs li:nth-child(14) input[type="radio"]:checked)
  #gate-list
  li:nth-child(14),
.tabs:has(#gate-tabs li:nth-child(15) input[type="radio"]:checked)
  #gate-list
  li:nth-child(15) {
  visibility: unset;
  height: unset;
  width: unset;
}

.tab-content {
  display: none;
}

.tabs:has(#tab-configuration:checked) .tab-content.configuration {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

  figure > img {
    width: 100%;
    height: fit-content;
  }
}

.tabs:has(#tab-additional-options:checked) .tab-content.additional-options,
.tabs:has(#tab-products:checked) .tab-content#products {
  display: block;

  ul:empty::after {
    content: "Пока ничего нет";
    height: 1em;
  }
}

label {
  display: flex;
  flex-direction: column;
}

[hidden] {
  display: none;
}

.price-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

main {
  position: relative;
  padding-bottom: 5rem;
}

.calc-footer {
  position: fixed;
  bottom: 0;
}
