label {
  display: flex;
  flex-direction: column;
}

.price-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

main {
  position: relative;
  padding-bottom: 5rem;
}

.calc-footer {
  position: fixed;
  bottom: 0;
}

form .gate-item {
  display: flex;
  flex-direction: row;

  .options-list {
    margin: 0 auto;
  }
}

.option-item {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  margin-bottom: var(--spacing-m);

  .controls {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
  }
}
