.order-gates {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-xl);
}

.order-content {
  display: flex;
  padding: var(--spacing-l);
}

.order-header {
  padding: var(--spacing-l);
  display: flex;
  gap: var(--spacing-l);
  align-items: center;
}

.add-button-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.order-products {
  margin: 0 auto;
}

.file-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-l);
  }
}

.table {
  width: 100%;
  table-layout: fixed;
}

.document-name {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

.product-item {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  margin-bottom: var(--spacing-m);

  .controls {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
  }
}
