@import url("/assets/styles/custom-checkbox.css");

.calc-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myForm {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
}

.tab {
  margin-top: 2rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--spacing-xl);
  padding: 0 var(--spacing-xl)
}

.tabItem {
  display: none;
  position: relative;
}

#mainConfig {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainConfig .form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: var(--spacing-xl);
}

.totalDealerPrice::before {
  content: "Стоимость для дилера: ";
}

.totalClientPrice::before {
 content: "Стоимость для клиента: ";
}

.totalPrice::before {
  content: "Итоговая стоимость: "
}

.addButton {
  position: absolute;
  right: 0;
}

.product-div, .option-div {
  display: flex;
}

.standart-configuration {
  width: 40%;
  padding: var(--spacing-xl);
}


.standart-configuration img {
  width: 100%;
}
