@import url("/assets/styles/custom-checkbox.css");

.myForm {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.tab {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tablinks {
  margin-left: 2rem;
}

.tabItem {
  display: none;
  position: relative;
}

#mainConfig {
  display: flex;
  flex-direction: row;
}

.list {
  width: 50%;
}

.totalDealerPrice::before {
  content: "Стоимость для дилера: ";
}

.totalClientPrice::before {
 content: "Стоимость для клиента: ";
}

.totalPrice::before {
  content: "Итоговая стоимость: "
}

hr {
  margin: 2rem 0;
}

.addButton {
  position: absolute;
  top: -2rem;
  right: 0;
}

/* Inputs */
input, select {
  border: 1px solid black;
  border-radius: 0;
}

input[type="number"],
input[type="text"],
select {
  display: block;
  width: 75%;
  height: 2rem;
  margin: 1rem;
}

.product-div, .option-div {
  display: flex;
}

select[name="product"], select[name="option"] {
  display: block;
  width: 50%;
}

input[name="amount"] {
  display: block;
  width: 2rem;
  height: 2rem;
}

input[name="amount"]::-webkit-inner-spin-button,
input[name="amount"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
