@property --color-checkbox {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

input[type="checkbox"].colored {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--dark-grey);
  position: relative;
  background-color: var(--color-checkbox);
}

input[type="checkbox"].colored:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 6px;
  height: 12px;
  border: solid var(--dark-grey);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
