@import url("/assets/styles/custom-checkbox.css");

input,
select {
  border: 1px solid black;
  border-radius: 0;
}

input[type="number"],
input[type="text"],
select {
  display: block;
  width: 75%;
  height: 2rem;
  margin: 1rem;
}

select::selection {
  border-radius: 0;
}

form {
  display: flex;
  width: 100%;
}

.config,
.options {
  padding: 1rem;
  width: 50%;
}

.back-button {
    display: inline-block;
  text-decoration: none;
  color: var(--dark-grey);
  background-color: var(--button-static);
  padding: 1rem;
  margin:  1rem 1rem 0 1rem;
}

.back-button:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.totalPrice {
    margin: 1rem;
}
