input {
  font-size: inherit;
}

/* Select */
.select {
  position: relative;
  width: 100%;
}

.select > button {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;

  border: 1px solid #000;
  background: #fff;
  padding: 0;
  cursor: pointer;
}

.select > button::before {
  content: "▶";
  width: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #000;
}

.select > button span {
  padding-left: 12px;
  flex: 1;
  text-align: left;
}

.select ul {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  z-index: 10;

  list-style: none;
  margin: 0;
  padding: 4px 0;

  border: 1px solid #000;
  background: #fff;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.select:focus-within ul {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.select:focus-within > button::before {
  content: "▼";
  border-color: yellow;
}

.select:focus-within > button {
  border-color: yellow;
}

.select ul button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.select ul button:hover,
.select ul button:focus {
  background: #eee;
}

/* Text Input */
input[type="text"] {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 0;
  outline: none;
  border: 1px solid #000;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-color: yellow;
}

/* Number Input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number {
  display: flex;
  width: 100%;
  height: 48px;
  border: 1px solid #000;
}

.number:focus-within,
.number:focus-within .controls {
  border-color: yellow;
}

.number input {
  flex: 1;
  border-radius: 0;
  border: none;
  padding: 16px;
  outline: none;
}

.controls {
  width: 48px;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.controls button {
  flex: 1;
  border: none;
  background: #fff;
  cursor: pointer;
}

.controls button:hover {
  background: #eee;
}

/* Password Input */
.password {
  -webkit-appearance: none;
  appearance: none;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 1px solid #000;
}

.password input {
  flex: 1;
  border: none;
  padding: 16px;
  outline: none;

  appearance: none;
  border-radius: 0;
}

.password button {
  width: 48px;
  height: 100%;
  border: none;
  border-left: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.password:focus-within,
.password:focus-within button {
  border-color: yellow;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

.password button img {
  display: block;
  align-self: center;
  justify-self: center;
}

/* Phone Input */
.phone {
  display: flex;
  width: 100%;
  border: 1px solid #000;
  font-family: sans-serif;
  height: 48px;
}

.phone:focus-within, .phone:focus-within .prefix {
  border-color: yellow;
}

.prefix {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #000;
}

.phone input {
  flex: 1;
  border: none;
  padding: 16px;
  outline: none;

  appearance: none;
  border-radius: 0;
}

/* Date Input */
.date {
  display: flex;
  width: 100%;
  height: 48px;
  border: 1px solid #000;
}

.date input {
  flex: 1;
  border: none;
  padding: 16px;
  outline: none;
  appearance: none;
  border-radius: 0;
}

.date button {
  width: 48px;
  height: 48px;
  border: none;
  border-left: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 48px;
  height: 100%;
}
