section {
  height: 92vh;
  display: flex;
  scroll-margin-top: 4rem;
}

.form {
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 50% 0 0 50%;
  padding-left: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: auto;
}

input {
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  display: block;
}

input[type="checkbox"] {
  margin-bottom: 0;
}

section#for-dealer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("/assets/images/gates.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

section#for-dealer .description {
  width: 50%;
  color: white;
  align-items: center;
  justify-content: center;
}

section#main .description {
  justify-content: space-between;
}

section#main .description h1 {
  text-align: center;
  margin-top: 5rem;
  padding: 2rem;
  font-weight: 200;
  font-size: 40px;
  color: white;
  background-color: var(--dark-grey);
  box-shadow: 10px 10px 5px #00000061;
}

.logo {
  position: relative;
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo img {
  z-index: 1;
  width: 40%;
  height: 50%;
  box-shadow: 10px 10px 5px #00000061;
}

.decoration {
  position: absolute;
  width: 24rem;
  height: 24rem;
}

.cta-block {
  margin: auto 5rem;
  text-align: start;
  text-align: center;
}

.cta-block a {
  width: 75%;
}

.description div:first-child {
  margin: 5rem 0 0 2.5rem;
}

.benefits li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.benefits li::before {
  vertical-align: middle;
  content: url("/assets/images/white_checkbox.png");
}

.hint {
  font-size: small;
  margin-top: 4px;
}

.hint::before {
  content: "*";
}
