h1 {
  text-align: center;
}

.form-container {
  margin: auto;
  padding: var(--spacing-xl);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  width: 25%;
  margin-bottom: var(--spacing-xl);
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-xl);

  .button {
    flex: 1;

    &.primary {
      box-shadow: none;

      &:hover {
        transform: translate(0);
      }
    }
  }
}
