{{template "html-start" .}}
<section id="main">
  <div class="description">
    <div class="cta-block">
      <h1>Секционные ворота от производителя SAGA</h1>
      <hr class="gradient-line" />
      <div>
        <p>Узнайте стоимость ваших ворот за пару кликов</p>
        <div class="horizontal-container">
          <a class="button primary" href="/gate_type"
            ><span>Онлайн калькулятор</span>
          </a>
          <a class="button secondary">Позвонить нам</a>
        </div>
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="/assets/images/logo_with_name.png" alt="Логотип" />
    <div
      class="decoration"
      style="transform: translate(-16%, -16%); background-color: #ccd49c"
    ></div>
    <div
      class="decoration"
      style="transform: translate(16%, 16%); background-color: #bfc3ab"
    ></div>
    <div
      class="decoration"
      style="transform: translate(32%, -32%); background-color: #b4ba83"
    ></div>
    <div
      class="decoration"
      style="transform: translate(-32%, 32%); background-color: #dde1c9"
    ></div>
  </div>
</section>

<section id="about">
  <div class="history">
    <h1>О компании Saga Doors</h1>
    <hr class="gradient-line" />
    <p>
      Saga Doors — молодой, динамично развивающийся производитель воротных
      систем. Компания работает на рынке более года и уже успела зарекомендовать
      себя как надежный партнер для дилеров и монтажных организаций.
    </p>
    <p>
      Наш производственный завод расположен в городе Березовск, где сосредоточен
      полный цикл изготовления ворот: от обработки металла и сборки полотен до
      финального контроля качества. Мы используем современные технологии,
      проверенные комплектующие и уделяем особое внимание стабильности
      характеристик продукции.
    </p>
    <p>
      Saga Doors специализируется на работе через дилерскую сеть. Мы не
      конкурируем с нашими партнерами в рознице и выстраиваем долгосрочные,
      прозрачные отношения, предлагая удобные условия сотрудничества,
      техническую поддержку и стабильные сроки производства.
    </p>
  </div>
  <img src="/assets/images/worker.png" alt="Рабочий на заводе" />
</section>

<section id="dealers-list">
  <div class="table-container">
    <h1>Список дилеров</h1>
    <hr class="gradient-line" />
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th>Название</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Город</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ИП Кузнецов</td>
            <td>kuznetsov@mail.ru</td>
            <td>+7 (999) 999-99-99</td>
            <td>г. Екатеринбург</td>
            <td>
              <button
                onclick="showAddress('Екатеринбург')"
                class="button secondary"
              >
                Показать
              </button>
            </td>
          </tr>
          <tr>
            <td>ИП Кузнецов</td>
            <td>kuznetsov@mail.ru</td>
            <td>+7 (999) 999-99-99</td>
            <td>г. Москва</td>
            <td>
              <button
                onclick="showAddress('Москва')"
                class="button secondary"
              >
                Показать
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <iframe
    style="width: 50%; height: 100%; border: none"
    id="map"
    src="https://yandex.ru/map-widget/v1/?ll=37.6173%2C55.7558&z=10"
  ></iframe>
</section>

<section id="for-dealer">
  <div class="description">
    <div style="width: 75%; margin-top: -2rem">
      <h1>Станьте частью нашей дилерской сети</h1>
      <ul class="benefits">
        <li>Финансовые выгода и условия</li>
        <li>Маркетинговая и финансовая поддержка</li>
        <li>Отлаженная логистика по всей стране</li>
      </ul>
    </div>
  </div>
  <div class="form">
    <form action="/reg" method="post">
      <input type="hidden" name="accountType" value="dealer" />
      <div class="input-container">
        <label for="fullname">ФИО</label>
        <input type="text" name="fullname" id="fullname" />
      </div>
      <div class="input-container">
        <label for="company">Название компании</label>
        <input type="text" name="company" id="company" />
      </div>
      <div class="input-container">
        <label for="phone">Номер телефона</label>
        <div class="phone">
          <span class="prefix">+7</span>
          <input type="tel" pattern="[0-9]*" name="phone" id="phone" />
        </div>
      </div>
      <div class="input-container">
        <label for="email">Почта</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="checkbox-container">
        <input type="checkbox" required name="consent" value="1" />
        <p>Согласие на обработку данных</p>
      </div>
      <button type="submit" class="button primary">
        Отправить заявку
      </button>
    </form>
  </div>
</section>
<script>
  function showAddress(address) {
    const url =
      "https://yandex.ru/map-widget/v1/?text=" +
      encodeURIComponent(address) +
      "&z=14";

    document.getElementById("map").src = url;
  }
</script>

{{template "html-end"}}
