{{template "html-start" .}}
<section id="main">
  <div class="description">
      <h1>Секционные ворота<br/> от производителя SAGA</h1>
    <div class="cta-block">
      <h2>Узнайте стоимость ваших ворот</h2>
      <a class="primary-button" href="/gate_type"><span>Онлайн калькулятор</span> </a>
      <p class="hint">Быстрый расчет по вашим параметрам</p>
      <a class="primary-button">Позвонить нам</a>
      <p class="hint">Бесплатная консультация менеджера</p>
    </div>
  </div>
  <div class="logo">
    <img src="/assets/images/logo_with_name.png" alt="Логотип" />
    <div
      class="decoration"
      style="transform: translate(-16%, -16%); background-color: #ccd49c"
    ></div>
    <div
      class="decoration"
      style="transform: translate(16%, 16%); background-color: #bfc3ab"
    ></div>
    <div
      class="decoration"
      style="transform: translate(32%, -32%); background-color: #b4ba83"
    ></div>
    <div
      class="decoration"
      style="transform: translate(-32%, 32%); background-color: #dde1c9"
    ></div>
  </div>
</section>

<section id="for-dealer">
  <div class="description">
    <div style="width: 75%; margin-top: -2rem">
      <h1>Станьте частью нашей дилерской сети</h1>
      <ul class="benefits">
        <li>Финансовые выгода и условия</li>
        <li>Маркетинговая и финансовая поддержка</li>
        <li>Отлаженная логистика по всей стране</li>
      </ul>
    </div>
  </div>
  <div class="form">
    <form action="/reg" method="post">
      <input type="hidden" name="accountType" value="dealer">
      <label for="fullname">ФИО</label><br />
      <input type="text" name="fullname" id="fullname" />
      <label for="company">Название компании</label><br />
      <input type="text" name="company" id="company" />
      <label for="phone">Номер телефона</label><br />
      <input type="tel" name="phone" id="phone" />
      <label for="email">Почта</label><br />
      <input type="email" name="email" id="email" />
      <div style="display: flex; align-items: center">
        <input type="checkbox" required />
        <p>Согласие на обработку данных</p>
      </div>
      <button type="submit" class="primary-button">Отправить заявку</button>
    </form>
  </div>
</section>
{{template "html-end"}}
