{{template "html-start" .}}
<div class="form-container">
  <a href="/tables" class="btn secondary">Вернуться назад</a>
  <form method="post">
    <div>
      <label for="code"
        >Код цвета
        <input class="input" type="text" id="code" name="code" required />
      </label>
    </div>

    <div>
      <label for="hex"
        >HEX-код
        <input class="input" type="text" id="hex" name="hex" required />
      </label>
    </div>

    <button class="btn primary" type="submit">Сохранить</button>
  </form>
</div>
{{template "html-end" .}}
