<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/web/assets/styles/library/index.css" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/pages/{{.css}}" />
    {{end}}
    <title>Таблица cycle_amounts</title>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <div class="form-container">
        <a href="/tables" class="btn secondary">Вернуться назад</a>
        <form method="post">
          <div>
            <label for="amount"
              >Количество циклов
              <input
                class="input"
                type="text"
                id="amount"
                name="amount"
                required
              />
            </label>
          </div>

          <div>
            <label for="wholesale-markup"
              >Оптовая наценка
              <input
                class="input"
                type="number"
                id="wholesale-markup"
                name="wholesale-markup"
                step="0.01"
                required
              />
            </label>
          </div>

          <div>
            <label for="retail-markup"
              >Розничная наценка
              <input
                class="input"
                type="number"
                id="retail-markup"
                name="retail-markup"
                step="0.01"
                required
              />
            </label>
          </div>

          <button class="btn secondary" type="submit">Сохранить</button>
        </form>
      </div>
    </main>
    {{template "footer" .}}
  </body>
</html>
