<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/web/assets/styles/library/index.css" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/pages/{{.css}}" />
    {{end}}
    <title>Промышленные приводы</title>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <div class="form-container">
        <h1>Промышленные приводы</h1>
        <div>
          <a href="/tables" class="btn secondary">Вернуться назад</a>
          <button
            class="btn secondary"
            onclick="document.getElementById('add-modal').showModal()"
          >
            Добавить
          </button>
        </div>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Фото</th>
            <th>Название</th>
            <th>Опт. цена</th>
            <th>Розн. цена</th>
            <th>Характеристики</th>
            <th></th>
            <th></th>
          </tr>
          {{range .tableData}}
          <tr
            class="table-row"
            data-id="{{.ID}}"
            data-name="{{.Name}}"
            data-wholesale-price="{{.WholesalePrice}}"
            data-retail-price="{{.RetailPrice}}"
            data-specifications="{{if .Specifications}}{{.Specifications}}{{end}}"
            data-image-path="{{.ImagePath}}"
          >
            <td>{{.ID}}</td>
            <td>
              {{if ne .ImagePath "no_image"}}<img
                class="admin-thumb"
                src="/data/images/{{.ImagePath}}"
                alt="{{.Name}}"
              />{{else}}—{{end}}
            </td>
            <td>{{.Name}}</td>
            <td>{{.WholesalePrice}}</td>
            <td>{{.RetailPrice}}</td>
            <td>{{if .Specifications}}{{.Specifications}}{{end}}</td>
            <td>
              <button
                class="btn secondary"
                onclick="openUpdateModal(`industrial_drives`, this)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                  />
                  <path d="m15 5 4 4" />
                </svg>
              </button>
            </td>
            <td>
              <button
                class="btn secondary"
                onclick="deleteRow({{.ID}}, `industrial_drives`)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                  <path d="M3 6h18" />
                  <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                </svg>
              </button>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="8">Нет ни одной записи</td>
          </tr>
          {{end}}
        </table>
      </div>
    </main>
    <dialog id="add-modal" class="modal">
      <div class="modal-box">
        <form method="post" action="/tables/industrial_drives" enctype="multipart/form-data">
          <div>
            <label
              >Название
              <input class="input" type="text" name="name" required />
            </label>
          </div>
          <div>
            <label
              >Оптовая цена
              <input
                class="input"
                type="number"
                name="wholesale-price"
                step="0.01"
                required
              />
            </label>
          </div>
          <div>
            <label
              >Розничная цена
              <input
                class="input"
                type="number"
                name="retail-price"
                step="0.01"
                required
              />
            </label>
          </div>
          <div>
            <label
              >Характеристики
              <textarea class="input" name="specifications" rows="4"></textarea>
            </label>
          </div>
          <div>
            <label
              >Изображение
              <input class="input" type="file" name="image" accept="image/*" />
            </label>
          </div>
          <button class="btn primary" type="submit">Сохранить</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop"><button>close</button></form>
    </dialog>
    <dialog id="edit-modal" class="modal">
      <div class="modal-box">
        <form
          id="edit-form"
          data-url="/tables/industrial_drives"
          onsubmit="updateRow(event)"
        >
          <div>
            <label
              >ID
              <input class="input id" type="text" name="id" readonly required />
            </label>
          </div>
          <div>
            <label
              >Название
              <input class="input name" type="text" name="name" required />
            </label>
          </div>
          <div>
            <label
              >Оптовая цена
              <input
                class="input wholesale-price"
                type="number"
                name="wholesale-price"
                step="0.01"
                required
              />
            </label>
          </div>
          <div>
            <label
              >Розничная цена
              <input
                class="input retail-price"
                type="number"
                name="retail-price"
                step="0.01"
                required
              />
            </label>
          </div>
          <div>
            <label
              >Характеристики
              <textarea
                class="input specifications"
                name="specifications"
                rows="4"
              ></textarea>
            </label>
          </div>
          <input type="hidden" class="image-path" name="image-path" />
          <div>
            <label
              >Изображение
              <input class="input" type="file" name="image" accept="image/*" />
            </label>
          </div>
          <button class="btn primary" type="submit">Сохранить</button>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop"><button>close</button></form>
    </dialog>
    {{template "footer" .}}
    <script src="/web/assets/scripts/admin.js"></script>
    <script src="/web/assets/scripts/sweetalert2.all.min.js"></script>
  </body>
</html>
