{{template "html-start" .}}
<div class="form-container">
  <a href="/tables" class="btn secondary">Вернуться назад</a>
  <form method="post">
    <div>
      <label for="name"
        >Название товара
        <input class="input" type="text" id="name" name="name" required />
      </label>
    </div>

    <div>
      <label for="wholesale-price"
        >Оптовая цена
        <input
          class="input"
          type="number"
          id="wholesale-price"
          name="wholesale-price"
          step="0.01"
          required
        />
      </label>
    </div>

    <div>
      <label for="retail-price"
        >Розничная цена
        <input
          class="input"
          type="number"
          id="retail-price"
          name="retail-price"
          step="0.01"
          required
        />
      </label>
    </div>

    <button class="btn secondary" type="submit">Сохранить</button>
  </form>
</div>
{{template "html-end" .}}
