{{define "html-start"}}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/base.css" />
    <link rel="icon" href="/assets/images/favicon.ico" />
    {{if .css}}
    <link rel="stylesheet" href="/assets/styles/{{.css}}" />
    {{end}}
    <title>Saga Doors</title>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>{{end}} {{define "html-end"}}</main>
    <footer id="footer">
      <div class="content">
        <div class="section-company">
          <img
            src="/assets/images/logo.png"
            alt=""
            width="48px"
            height="48px"
          />
          <p>Saga Doors</p>
        </div>
        <hr class="separator" />
        <div class="section-about">
          <ul>
            <li>О компании</li>
            <li><a href="/#main">Главная</a></li>
            <li><a href="/#about">О нас</a></li>
            <li><a href="/#dealers-list">Наши дилеры</a></li>
            <li><a href="/#for-dealer">Стать дилером</a></li>
          </ul>
        </div>
        <hr class="separator" />
        <div class="section-contacts">
          <ul>
            <li>Контакты</li>
            <li>+7 (343) 343 96-99</li>
            <li>г. Березовский</li>
          </ul>
        </div>
        <hr class="separator" />
        <div class="section-details">
          <ul>
            <li>Реквизиты</li>
            <li>ООО Сага Дорс</li>
            <li>ИНН 6671287803</li>
          </ul>
        </div>
      </div>
      <hr class="separator" />
      <div class="bottom">
        <p>© 2026 Сага Дорс. Все права защищены</p>
        <div class="social-icons">
          <img
            src="/assets/images/max-messenger.svg"
            alt="Мессенджер Max"
            width="24px"
            height="24px"
          />
        </div>
      </div>
    </footer>
  </body>
</html>
{{end}} {{define "header-nav"}}
<nav class="dark-theme">
  <div class="nav-div">
    <img src="/assets/images/logo.png" alt="Логотип" />
    <ul>
      <li><a class="button tertiary" href="/#main">Главная</a></li>
      <li><a class="button tertiary" href="/#about">О нас</a></li>
      <li>
        <a class="button tertiary" href="/#dealers-list">Наши дилеры</a>
      </li>
      <li>
        <a class="button tertiary" href="/#for-dealer">Стать дилером</a>
      </li>
      <li><a class="button tertiary" href="/#footer">Контакты</a></li>
    </ul>
  </div>
  <div class="nav-div">
    <a href="/calculator" class="button tertiary">
      <img src="/assets/images/calculator.svg" alt="Калькулятор" />
    </a>
    {{if not .user}}
    <a class="button primary" href="/sign_in">Войти</a>
    {{else}}
    <a href="/orders" class="button tertiary">
      <img src="/assets/images/orders.svg" alt="Заказы" />
    </a>
    <a href="/user" class="button tertiary">
      <img src="/assets/images/account_white.svg" alt="Профиль" />
    </a>
    {{end}}
  </div>
</nav>
{{end}}
