{{template "html-start" .}}
<a class="back-button" href="/orders/{{.gate.SaleID}}">Вернуться назад</a>
<form action="">
  <div class="config">
    <!--Тип ворот-->
    <p>Тип ворот: {{.gate.GateType.Label}}</p>
    <!--Ширина-->
    <p>Ширина: {{.gate.Width}}</p>
    <!--Высота-->
    <p>Высота: {{.gate.Height}}</p>
    <!--Высота притолки-->
    <p>Высота притолки: {{.gate.Headroom}}</p>
    <!--Тип подъема-->
    <p>Тип подъема: {{.gate.LiftType.Name}}</p>
    <!--Цвет снаружи-->
    <p>Цвет ворот снаружи: {{.gate.ColorOut.Code}}</p>
    <!--Количество циклов-->
    <p>Количество циклов: {{.gate.CycleAmount.Name}}</p>
  </div>
  <div class="options">
    <ul>
      {{range .options}}
      <li>{{.Option.Name}} x {{.Amount}}</li>
      {{else}}
      <li>Нет никаких дополнительных опций</li>
      {{end}}
    </ul>
  </div>
</form>
{{template "html-end"}}
