{{template "html-start" .}}
<h1>Регистрация</h1>
<div class="form-container">
  <div class="button-container">
    <p class="button blocked">Регистрация</p>
    <a href="/sign_in" class="button primary">Авторизация</a>
  </div>
  <form action="/sign_up" method="post">
    <div class="input-container">
      <label for="fullname">ФИО</label>

    </div>
    <div class="input-container">
      <label for="company">Название компании</label>

    </div>
    <div class="input-container">
      <label for="phone">Номер телефона</label>
      <div class="phone">
        <span class="prefix">+7</span>
        <input type="tel" pattern="[0-9]*" name="phone" id="phone" />
      </div>
    </div>
    <div class="input-container">
      <label for="email">Почта</label>
    </div>
    <div class="input-container">
      <label for="password">Пароль</label>
    </div>
    <div class="checkbox-container">
      <input type="checkbox" required />
      <p>Согласие на обработку данных</p>
    </div>
    <button type="submit" class="button primary">
      Отправить заявку
    </button>
  </form>
</div>
{{template "html-end"}}
