{{template "html-start" .}}
<h1>Регистрация</h1>
<form action="/sign_up" method="post">
  <label for="fullname">ФИО</label><br />
  <input type="text" name="fullname" />
  <label for="company">Название компании</label><br />
  <input type="text" name="company" />
  <label for="phone">Номер телефона</label><br />
  <input type="tel" name="phone" />
  <label for="email">Почта</label><br />
  <input type="email" name="email" />
  <label for="password">Название компании</label><br />
  <input type="password" name="password" />
  <div style="display: flex; align-items: center">
    <input type="checkbox" required />
    <p>Согласие на обработку данных</p>
  </div>
  <button type="submit" class="primary-button">Отправить заявку</button>
</form>
{{template "html-end"}}
