<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/web/assets/styles/library/index.css" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/pages/{{.css}}" />
    {{end}}
    <title>Калькулятор</title>
    <script>
      const configuration = {
        industrialConfiguration: {
          widthParams: {{.IndustrialConfiguration.WidthParams}},
          heightParams: {{.IndustrialConfiguration.HeightParams}},
          liftTypes: {{.IndustrialConfiguration.LiftTypes}},
          cycleAmounts: {{.IndustrialConfiguration.CycleAmounts}},
          colors: {{.IndustrialConfiguration.Colors}},
          driveTypes: {
            {{range .IndustrialConfiguration.DriveTypes}}
              "{{.}}": "{{.Label}}",
            {{end}}
          },
          drives: {{.IndustrialConfiguration.IndustrialDrives}},
          options: {{.IndustrialConfiguration.Options}},
        },
        residentialConfiguration: {
          widthParams: {{.ResidentialConfiguration.WidthParams}},
          heightParams: {{.ResidentialConfiguration.HeightParams}},
          liftTypes: {{.ResidentialConfiguration.LiftTypes}},
          cycleAmounts: {{.ResidentialConfiguration.CycleAmounts}},
          colors: {{.ResidentialConfiguration.Colors}},
          driveTypes: {
            {{range .ResidentialConfiguration.DriveTypes}}
              "{{.}}": "{{.Label}}",
            {{end}}
          },
          drives: {{.ResidentialConfiguration.ResidentialDrives}},
          rails: {{.ResidentialConfiguration.Rails}},
          options: {{.ResidentialConfiguration.Options}},
        },
        products: {{.IndustrialConfiguration.Products}}
      };
    </script>
    <script type="module" src="/web/assets/scripts/calc.js" defer></script>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <div class="tabs">
        <div class="menu">
          <label class="btn secondary" for="tab-configuration">
            Конфигурация
            <input
              type="radio"
              name="tabs"
              class="tab"
              id="tab-configuration"
              checked
            />
          </label>
          <label class="btn secondary" for="tab-additional-options">
            Дополнительные опции
            <input
              type="radio"
              name="tabs"
              class="tab"
              id="tab-additional-options"
            />
          </label>
          <label class="btn secondary" for="tab-products">
            Товары
            <input type="radio" name="tabs" class="tab" id="tab-products" />
          </label>

          <div class="add-gate-tabs">
            <h3>Список ворот в заказе:</h3>
            <ul id="gate-tabs" onchange="window.onChangeGateButton(event)"></ul>
            <button
              id="add-gate-tabs"
              class="btn secondary size-s block"
              type="button"
              onclick="window.addGateElement()"
            >
              Добавить ворота
            </button>
          </div>
        </div>

        <div class="content">
          <form action="" method="post">
            <ul id="gate-list"></ul>

            <!-- Товары -->
            <div class="tab-content" id="products">
              <h2>Товары</h2>
              <ul id="product-list"></ul>
              <button
                id="add-product"
                type="button"
                class="btn primary"
                onclick="window.addProduct()"
              >
                Добавить
              </button>
            </div>
          </form>
        </div>
      </div>
      <footer class="footer footer-horizontal calc-footer dark">
        <div>
          <div class="price-row">
            <p>Цена текущих ворот (клиент):</p>
            <p id="gate-retail-price">0</p>
          </div>
          <div class="price-row">
            <p>Стоимость заказа (клиент):</p>
            <p id="order-retail-price">0</p>
          </div>
        </div>

        <div {{if not .isDealer}} style="display: none" {{end}}>
          <div class="price-row">
            <p>Цена текущих ворот (дилер):</p>
            <p id="gate-wholesale-price">0</p>
          </div>
          <div class="price-row">
            <p>Стоимость заказа (дилер):</p>
            <p id="order-wholesale-price">0</p>
          </div>
        </div>
        <div>
          <button
            class="btn primary"
            type="button"
            onclick="window.downloadOffer()"
          >
            Скачать КП
          </button>
        </div>
        {{if $.user}}
        <div>
          <button
            class="btn primary"
            type="button"
            onclick="window.placeOrder()"
          >
            Оформить заказ
          </button>
        </div>
        {{end}}
      </footer>
    </main>
  </body>
  <template id="gate-template">
    <li class="gate-item">
      <h3 class="header-gate-number">Ворота №</h3>
      <!-- Конфигурация -->
      <div class="tab-content configuration">
        <div class="configuration">
          <!--Тип ворот-->
          <label>
            Тип ворот
            <select
              name="gate-type"
              class="gate-type select"
              onchange="updateGateType(this)"
            >
              <option value="residential" selected>Бытовые ворота</option>
              <option value="industrial">Промышленные ворота</option>
            </select>
          </label>

          <div class="sizes">
            <!--Ширина-->
            <label>
              Ширина (B)
              <input
                name="width"
                class="width input validator"
                type="number"
                min="{{.ResidentialConfiguration.WidthParams.MinValue}}"
                max="{{.ResidentialConfiguration.WidthParams.MaxValue}}"
                value="{{.ResidentialConfiguration.WidthParams.MinValue}}"
                placeholder="Значение должно быть от {{.ResidentialConfiguration.WidthParams.MinValue}} до {{.ResidentialConfiguration.WidthParams.MaxValue}}"
                title="Значение должно быть от {{.ResidentialConfiguration.WidthParams.MinValue}} до {{.ResidentialConfiguration.WidthParams.MaxValue}}"
                oninput="window.updateGateSizePrice(this)"
                required
              />
              <p class="validator-hint">
                Ширина должна быть от
                {{.ResidentialConfiguration.WidthParams.MinValue}} до
                {{.ResidentialConfiguration.WidthParams.MaxValue}}
              </p>
            </label>

            <!--Высота-->
            <label>
              Высота (H)
              <input
                name="height"
                class="height input validator"
                type="number"
                min="{{.ResidentialConfiguration.HeightParams.MinValue}}"
                max="{{.ResidentialConfiguration.HeightParams.MaxValue}}"
                value="{{.ResidentialConfiguration.HeightParams.MinValue}}"
                placeholder="Значение должно быть от {{.ResidentialConfiguration.HeightParams.MinValue}} до {{.ResidentialConfiguration.HeightParams.MaxValue}}"
                title="Значение должно быть от {{.ResidentialConfiguration.HeightParams.MinValue}} до {{.ResidentialConfiguration.HeightParams.MaxValue}}"
                oninput="window.updateGateSizePrice(this)"
                required
              />
              <p class="validator-hint">
                Высота должна быть от
                {{.ResidentialConfiguration.HeightParams.MinValue}} до
                {{.ResidentialConfiguration.HeightParams.MaxValue}}
              </p>
            </label>
          </div>

          <!--Высота притолки-->
          <label>
            Высота притолки
            <input
              name="headroom"
              class="headroom input"
              type="number"
              min="0"
              value="0"
            />
          </label>

          <!--Тип подъема-->
          <label>
            Тип подъема
            <select
              name="lift-type"
              class="lift-type select"
              onchange="window.updateGatePrice(this.closest('.gate-item'))"
            >
              {{range .ResidentialConfiguration.LiftTypes}}
              <option
                value="{{.ID}}"
                data-retail-markup="{{.RetailMarkup}}"
                {{if
                $.isDealer}}
                data-wholesale-markup="{{.WholesaleMarkup}}"
                {{else}}
                data-wholesale-markup="0"
                {{end}}
              >
                {{.Name}}
              </option>
              {{end}}
            </select>
          </label>

          <!--Количество циклов-->
          <label
            >Количество циклов
            <select
              name="cycle-amount"
              class="cycle-amount select"
              onchange="window.updateGatePrice(this.closest('.gate-item'))"
            >
              {{range .ResidentialConfiguration.CycleAmounts}}
              <option
                value="{{.ID}}"
                data-retail-markup="{{.RetailMarkup}}"
                {{if
                $.isDealer}}
                data-wholesale-markup="{{.WholesaleMarkup}}"
                {{else}}
                data-wholesale-markup="0"
                {{end}}
              >
                {{.Amount}}
              </option>
              {{end}}
            </select>
          </label>

          <!--Цвет ворот снаружи-->
          <label
            >Цвет ворот снаружи
            <select
              name="color-out"
              class="color-out select"
              onchange="window.updateGatePreview(this.closest('.gate-item'))"
            >
              {{range .ResidentialConfiguration.Colors}}
              <option value="{{.ID}}" data-hex="{{.Hex}}">{{.Code}}</option>
              {{end}}
            </select>
          </label>

          <!--Привод-->
          <div class="drive-block">
            <!--Тип привода-->
            <label
              >Тип привода
              <select
                name="drive-type"
                class="drive-type select"
                onchange="updateDriveType(this)"
              >
                {{range .ResidentialConfiguration.DriveTypes}}
                <option value="{{.}}">{{.Label}}</option>
                {{end}}
              </select>
            </label>

            <!--Ручной привод-->
            <label
              >Длина цепи
              <input
                oninput="window.updateGatePrice(this.closest('.gate-item'))"
                data-chain-drive-retail-price="{{.ResidentialConfiguration.ManualDrive.RcpRetailPrice}}"
                data-chain-drive-wholesale-price="{{.ResidentialConfiguration.ManualDrive.RcpWholesalePrice}}"
                data-chain-retail-price="{{.ResidentialConfiguration.ManualDrive.ChainMeterRetailPrice}}"
                data-chain-wholesale-price="{{.ResidentialConfiguration.ManualDrive.ChainMeterWholesalePrice}}"
                name="chain-length"
                class="chain-length input"
                type="number"
                min="0"
                value="0"
              />
            </label>

            <div class="drive-auto">
              <!--Автоматический привод-->
              <label
                >Привод
                <select
                  name="drive"
                  class="drive select"
                  onchange="window.updateGatePrice(this.closest('.gate-item'))"
                ></select>
              </label>

              <!--Направляющая к приводу (только для бытовых ворот)-->
              <label
                >Направляющая
                <select
                  name="rail"
                  class="rail select"
                  id="rail"
                  onchange="window.updateGatePrice(this.closest('.gate-item'))"
                ></select>
              </label>
            </div>
          </div>
        </div>
        <div class="gate-preview-container">
          <label
            >Количество ворот
            <input
              name="gate-amount"
              class="gate-amount input"
              type="number"
              min="1"
              value="1"
              oninput="window.updateOrderPrice()"
            />
          </label>
          <div class="gate-preview">
            <svg class="gate-preview-svg" viewBox="0 0 500 320">
              <rect class="gate-rect" x="150" y="90" width="200" height="150" />

              <g class="gate-lines"></g>

              <text class="width-label" x="250" y="280" text-anchor="middle">
                B = 2000
              </text>

              <text class="height-label" x="370" y="170">H = 1800</text>
            </svg>
          </div>
        </div>
      </div>
      <!-- Дополнительные опции -->
      <div class="tab-content additional-options">
        <h2>Дополнительные опции</h2>
        <ul class="option-list"></ul>
        <button
          class="btn primary"
          type="button"
          onclick="window.addGateOption(this)"
        >
          Добавить еще
        </button>
      </div>
    </li>
  </template>
  <!--Блок для выбора дополнительных опций к воротам-->
  <template id="option-template">
    <li class="option-item">
      <select
        name="option"
        class="option select"
        onchange="window.updateOptionsPrice(this)"
      >
        {{range .ResidentialConfiguration.Options}}
        <option
          value="{{.ID}}"
          data-retail-price="{{.RetailPrice}}"
          {{if
          $.isDealer}}
          data-wholesale-price="{{.WholesalePrice}}"
          {{else}}
          data-wholesale-price="0"
          {{end}}
        >
          {{.Name}}
        </option>
        {{end}}
      </select>
      <div class="controls">
        <label for="amount">
          Количество:
          <input
            type="number"
            name="amount"
            class="amount input"
            min="1"
            value="1"
            oninput="window.updateOptionsPrice(this)"
          />
        </label>
        <button
          type="button"
          class="btn secondary"
          onclick="removeItem(this, '.option-item')"
        >
          Удалить
        </button>
      </div>
    </li>
  </template>
  <!--Блок для выбора товаров-->
  <template id="product-template">
    <li class="product-item">
      <select
        class="product select"
        name="product"
        onchange="window.updateProductsPrice()"
      >
        {{range .ResidentialConfiguration.Products}}
        <option
          value="{{.ID}}"
          data-retail-price="{{.RetailPrice}}"
          {{if
          $.isDealer}}
          data-wholesale-price="{{.WholesalePrice}}"
          {{else}}
          data-wholesale-price="0"
          {{end}}
        >
          {{.Name}}
        </option>
        {{end}}
      </select>
      <div class="controls">
        <label for="amount">
          Количество:
          <input
            type="number"
            name="amount"
            class="amount input"
            min="1"
            value="1"
            oninput="window.updateProductsPrice(this)"
          />
        </label>
        <button
          type="button"
          class="btn secondary"
          onclick="removeItem(this, '.product-item')"
        >
          Удалить
        </button>
      </div>
    </li>
  </template>
  <!--Шаблон элемента вкладки в списке ворот-->
  <template id="gate-tab-template">
    <li>
      <div>
        <label>
          <p>Ворота №</p>
          <input type="radio" name="gates" checked />
        </label>
        <button
          onclick="
            window.removeGateElement(event);
            window.updateOrderPrice();
          "
        >
          ✕
        </button>
      </div>
    </li>
  </template>
  <script src="/web/assets/scripts/sweetalert2.all.min.js"></script>
</html>
