<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/web/assets/styles/base.css" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/{{.css}}" />
    {{end}}
    <title>Ворота №{{.gate.RowNumber}}</title>
    <script>
      const gateConfiguration = {
        gateType: {{.gate.GateType}},
        width: {{.gate.Width}},
        height: {{.gate.Height}},
        headroom: {{.gate.Headroom}},
        liftTypeID: {{.gate.LiftTypeID}},
        colorOutID: {{.gate.ColorOutID}},
        cycleAmountID: {{.gate.CycleAmountID}},
        driveType: {{.gate.DriveType}},
        amount: {{.gate.Amount}}
      }
    </script>
    <script type="module" src="/web/assets/scripts/gate-editor.js" defer></script>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <a class="back-button" href="/orders/{{.gate.SaleID}}">Вернуться назад</a>
      <form action="" method="post">
        <div class="configuration">
          <!--Тип ворот-->
          <label for=""
            >Тип ворот
            <input
              id="gate-type"
              name="gate-type"
              type="text"
              value="{{.gate.GateType.Label}}"
              data-value="{{.gate.GateType}}"
              readonly
            />
          </label>
          <!--Количество-->
          <label for="amount"
            >Количество
            <input
              name="amount"
              id="amount"
              type="number"
              min="1"
              value="{{.gate.Amount}}"
              oninput="window.updateGateSizePrice()"
            />
          </label>
          <div class="sizes">
            <!--Ширина-->
            <label for="width">
              Ширина
              <input
                name="width"
                id="width"
                type="number"
                min="{{.cfg.WidthParams.MinValue}}"
                max="{{.cfg.WidthParams.MaxValue}}"
                value="{{.gate.Width}}"
                oninput="window.updateGateSizePrice()"
              />
            </label>
            <!--Высота-->
            <label for="height"
              >Высота
              <input
                name="height"
                id="height"
                type="number"
                min="{{.cfg.HeightParams.MinValue}}"
                max="{{.cfg.HeightParams.MaxValue}}"
                value="{{.gate.Height}}"
                oninput="window.updateGateSizePrice()"
              />
            </label>
          </div>
          <!--Высота притолки-->
          <label for="headroom"
            >Высота притолки
            <input
              name="headroom"
              id="headroom"
              type="number"
              min="0"
              value="{{.gate.Headroom}}"
            />
          </label>

          <!--Тип подъема-->
          <label for="lift-type"
            >Тип подъема
            <select
              name="lift-type"
              id="lift-type"
              onchange="window.updateGatePrice()"
            >
              {{range .cfg.LiftTypes}}
              <option
                value="{{.ID}}"
                data-retail-markup="{{.RetailMarkup}}"
                data-wholesale-markup="{{.WholesaleMarkup}}"
                {{if
                eq
                .ID
                $.gate.LiftTypeID}}
                selected
                {{end}}
              >
                {{.Name}}
              </option>
              {{end}}
            </select>
          </label>

          <!--Количество циклов-->
          <label for="cycle-amount"
            >Количество циклов
            <select
              name="cycle-amount"
              id="cycle-amount"
              onchange="window.updateGatePrice()"
            >
              {{range .cfg.CycleAmounts}}
              <option
                value="{{.ID}}"
                data-retail-markup="{{.RetailMarkup}}"
                data-wholesale-markup="{{.WholesaleMarkup}}"
                {{if
                eq
                .ID
                $.gate.CycleAmountID}}selected{{end}}
              >
                {{.Name}}
              </option>
              {{end}}
            </select>
          </label>

          <!--Цвет ворот снаружи-->
          <label for="color-out"
            >Цвет ворот снаружи
            <select name="color-out" id="color-out">
              {{range .cfg.Colors}}
              <option
                value="{{.ID}}"
                {{if
                eq
                .ID
                $.gate.ColorOutID}}selected{{end}}
              >
                {{.Code}}
              </option>
              {{end}}
            </select>
          </label>

          <!--Привод-->
          <div class="drive-block">
            <!--Тип привода-->
            <label
              >Тип привода
              <select
                name="drive-type"
                class="drive-type"
                onchange="window.updateDriveType()"
              >
                {{range .cfg.DriveTypes}}
                <option
                  value="{{.}}"
                  {{if
                  eq
                  .
                  $.gate.DriveType}}selected{{end}}
                >
                  {{.Label}}
                </option>
                {{end}}
              </select>
            </label>
            <label
              >Длина цепи
              <input
                oninput="window.updateGatePrice()"
                data-chain-drive-retail-price="14500"
                data-chain-drive-wholesale-price="10200"
                data-chain-retail-price="540"
                data-chain-wholesale-price="450"
                id="chain-length"
                name="chain-length"
                class="chain-length"
                type="number"
                min="0"
                {{if
                eq
                .gate.DriveType
                `manual`}}
                value="{{.drive.ChainLength}}"
                {{else}}
                value="0"
                {{end}}
              />
            </label>

            <div class="drive-auto">
              {{if eq .gate.GateType "ind"}}
              <label for="drive"
                >Привод промышленный
                <select name="drive" id="drive">
                  {{range .cfg.IndustrialDrives}}
                  <option
                    value="{{.ID}}"
                    data-retail-price="{{.RetailPrice}}"
                    data-wholesale-price="{{.WholesalePrice}}"
                    {{if
                    ne
                    $.gate.DriveType
                    `manual`}}
                    {{if
                    eq
                    .ID
                    $.drive.DriveID}}selected{{end}}
                    {{end}}
                  >
                    {{.Name}}
                  </option>
                  {{end}}
                </select>
              </label>
              {{else}}
              <label for="drive"
                >Привод бытовой
                <select name="drive" id="drive">
                  {{range .cfg.ResidentialDrives}}
                  <option
                    value="{{.ID}}"
                    data-retail-price="{{.RetailPrice}}"
                    data-wholesale-price="{{.WholesalePrice}}"
                    {{if
                    ne
                    $.gate.DriveType
                    `manual`}}
                    {{if
                    eq
                    .ID
                    $.drive.DriveID}}selected{{end}}
                    {{end}}
                  >
                    {{.Name}}
                  </option>
                  {{end}}
                </select>
              </label>
              {{end}}
              <label for="rail"
                >Направляющая
                <select name="rail" id="rail">
                  {{range .cfg.Rails}}
                  <option
                    value="{{.ID}}"
                    data-retail-price="{{.RetailPrice}}"
                    data-wholesale-price="{{.WholesalePrice}}"
                    {{if
                    ne
                    $.gate.DriveType
                    `manual`}}
                    {{if
                    eq
                    .ID
                    $.drive.RailID}}selected{{end}}
                    {{end}}
                  >
                    {{.Name}}
                  </option>
                  {{end}}
                </select></label
              >
            </div>
          </div>
        </div>
        <div class="options">
          <ul
            class="option-list"
            data-retail-price="0"
            data-wholesale-price="0"
          >
            {{range .options}}
            <li class="option-item">
              <select
                name="option"
                class="option"
                onchange="window.updateOptionsPrice(this)"
              >
                <option
                  value="{{.Option.ID}}"
                  data-retail-price="{{.Option.RetailPrice}}"
                  data-wholesale-price="{{.Option.WholesalePrice}}"
                >
                  {{.Option.Name}}
                </option>
              </select>
              <div class="controls">
                <input
                  type="number"
                  name="amount"
                  class="amount"
                  min="1"
                  value="1"
                  oninput="window.updateOptionsPrice(this)"
                />
                <button
                  type="button"
                  class="button secondary"
                  onclick="
                    removeItem(this, '.option-div');
                    window.updateOptionsPrice(this);
                  "
                >
                  Удалить
                </button>
              </div>
            </li>
            {{end}}
          </ul>
        </div>
      </form>
      <div class="calc-footer dark-theme">
        <div class="prices">
          <p>Цена текущих ворот (дилер):</p>
          <p id="gate-wholesale-price">0</p>

          <p>Цена текущих ворот (клиент):</p>
          <p id="gate-retail-price">0</p>
        </div>
        <button
          class="button primary"
          type="button"
          onclick="window.SaveGateConfiguration()"
        >
          Сохранить
        </button>
      </div>
    </main>
    <script src="/web/assets/scripts/protobuf.min.js"></script>
  </body>
</html>
