<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/web/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/web/assets/styles/library/index.css" />
    {{if .css}}
    <link rel="stylesheet" href="/web/assets/styles/pages/{{.css}}" />
    {{end}}
    <title>Заказ №{{.orderId}}</title>
    <script type="module" src="/web/assets/scripts/order.js" defer></script>
  </head>
  <body>
    {{template "header-nav" .}}
    <main>
      <!--Шапка заказа-->
      <div class="order-header">
        <!--Вернуться к списку-->
        <a class="btn secondary" href="/orders">Вернуться к заказам</a>
        <!--Удалить заказ-->
        <button
          class="btn secondary"
          onclick="window.deleteOrder({{.orderId}})"
        >
          Удалить заказ
        </button>
        <!--Добавить документ-->
        <button
          class="btn secondary"
          onclick="document.getElementById('add-documents-modal').showModal()"
        >
          Прикрепить документ
        </button>
        <!--Открыть список документов-->
        <button class="btn secondary" onclick="window.loadDocuments()">
          Список документов
        </button>
        <!--Статус-->
        <select
          name="status"
          id="status"
          class="select"
          onchange="window.changeOrderStatus()"
        >
          {{range .orderStatuses}}
          <option value="{{.}}" {{if eq . $.order.Status}}selected{{end}}>
            {{.Label}}
          </option>
          {{end}}
        </select>
      </div>
      <!--Содержимое заказа-->
      <div class="order-content">
        <!--Сетка с воротами в заказе-->
        <div class="order-gates">
          {{range .order.Gates}}
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Ворота №{{.Gate.RowNumber}}</h2>
              <ul>
                <li>{{.Gate.Width}}</li>
                <li>{{.Gate.Height}}</li>
                <li>{{.Gate.GateType.Label}}</li>
                <li>{{.Gate.LiftType.Name}}</li>
                <li>{{.Gate.ColorOut.Code}}</li>
                <li>{{.Gate.CycleAmount.Name}}</li>
              </ul>
              <div class="card-actions">
                <!--Перейти в детали заказа-->
                <a
                  class="btn secondary"
                  href="/orders/{{.Gate.SaleID}}/{{.Gate.RowNumber}}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m21 21-4.34-4.34" />
                    <circle cx="11" cy="11" r="8" />
                  </svg>
                </a>
                <!--Удалить ворота из заказа-->
                <button
                  class="btn secondary"
                  onclick="window.deleteGate({{.Gate.RowNumber}})"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                    <path d="M3 6h18" />
                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          {{else}}
          <p>Нет никаких ворот</p>
          {{end}}
          <div class="add-button-container">
            <button
              class="btn primary"
              onclick="document.getElementById('add-gate-modal').showModal()"
            >
              Добавить ворота
            </button>
          </div>
        </div>
        <!-- Товары -->
        <div class="order-products" id="products">
          <div id="product-list">
            {{range .order.Products}} {{$orderProduct := .}}

            <div class="product-item">
              <select class="product select" name="product">
                {{range $.products}}
                <option
                  value="{{.ID}}"
                  data-retail-price="{{.RetailPrice}}"
                  data-wholesale-price="{{.WholesalePrice}}"
                  {{if
                  eq
                  .ID
                  $orderProduct.ProductID}}selected{{end}}
                >
                  {{.Name}}
                </option>
                {{end}}
              </select>

              <div class="controls">
                <input
                  type="number"
                  name="amount"
                  class="amount input"
                  min="1"
                  value="{{$orderProduct.Amount}}"
                />

                <button
                  type="button"
                  class="btn secondary"
                  onclick="removeProductItem(this)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                    <path d="M3 6h18" />
                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                  </svg>
                </button>
              </div>
            </div>
            {{else}}
            <p>Нет товаров в заказе</p>
            {{end}}
          </div>
          <div>
            <button
              id="add-product"
              type="button"
              class="btn primary"
              onclick="window.addProduct()"
            >
              Добавить
            </button>
            <button
              id="save-products"
              type="button"
              class="btn secondary"
              onclick="window.saveProducts()"
            >
              Сохранить
            </button>
          </div>
        </div>
      </div>
      <!--Модальное окно для добавления новых ворот в заказ-->
      <dialog id="add-gate-modal" class="modal">
        <div class="modal-box">
          <h3>Добавление ворот</h3>
          <p>Выберите тип ворот:</p>
          <div class="modal-action">
            <button class="btn secondary" onclick="window.addGate('res')">
              Бытовые
            </button>
            <button class="btn secondary" onclick="window.addGate('ind')">
              Промышленные
            </button>
          </div>
        </div>
      </dialog>
      <!--Модальное окно для добавления документов-->
      <dialog id="add-documents-modal" class="modal">
        <div class="modal-box">
          <h3>Добавление докуменов</h3>
          <div class="file-inputs">
            <!--Загрузка КП на сервевр-->
            <form
              id="uploadOfferForm"
              action="/orders/{{.orderId}}/offer"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="file" name="file" class="file-input" />
              <button type="submit" class="btn secondary">Загрузить КП</button>
            </form>

            <!--Загрузка договора на сервевр-->
            <form
              id="uploadContractForm"
              action="/orders/{{.orderId}}/contract"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="file" name="file" class="file-input" />
              <button type="submit" class="btn secondary">
                Загрузить договор
              </button>
            </form>
            <!--Загрузка счета на сервевр-->
            <form
              action="/orders/{{.orderId}}/bill"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="file" name="file" class="file-input" />
              <button type="submit" class="btn secondary">
                Загрузить счет
              </button>
            </form>
          </div>
        </div>
      </dialog>
      <!--Модальное окно с документами-->
      <dialog id="documents-modal" class="modal">
        <div class="modal-box">
          <h3>Список документов:</h3>
          <table class="table" id="documents-list"></table>
        </div>
      </dialog>
    </main>
    <!--Шаблон для строки в списке документов-->
    <template id="document-info-template">
      <tr>
        <td class="document-name"></td>
        <td>
          <button class="btn secondary" onclick="window.deleteDocument(this)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
              <path d="M3 6h18" />
              <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
            </svg>
          </button>
          <button class="btn secondary" onclick="window.downloadDocument(this)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-save-icon lucide-save"
            >
              <path
                d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"
              />
              <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
              <path d="M7 3v4a1 1 0 0 0 1 1h7" />
            </svg>
          </button>
        </td>
      </tr>
    </template>
    <!--Блок для выбора товаров-->
    <template id="product-template">
      <div class="product-item">
        <select class="product select" name="product">
          {{range .products}}
          <option
            value="{{.ID}}"
            data-retail-price="{{.RetailPrice}}"
            data-wholesale-price="{{.WholesalePrice}}"
          >
            {{.Name}}
          </option>
          {{end}}
        </select>
        <div class="controls">
          <input
            type="number"
            name="amount"
            class="amount input"
            min="1"
            value="1"
          />
          <button
            type="button"
            class="btn secondary"
            onclick="removeProductItem(this)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
              <path d="M3 6h18" />
              <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
            </svg>
          </button>
        </div>
      </div>
    </template>
    <script src="/web/assets/scripts/protobuf.min.js"></script>
  </body>
</html>
