{{define "footer"}}
<footer id="footer">
  <div class="footer footer-horizontal">
    <img
      src="/web/assets/images/logo.png"
      alt="Логотип"
      width="96px"
      height="96px"
    />
    <div class="divider divider-horizontal"></div>
    <nav>
      <h6 class="footer-title">О компании</h6>
      <a href="#about" class="link link-hover">О нас</a>
      <a href="#dealers-list" class="link link-hover">Наши дилеры</a>
      <a href="#for-dealer" class="link link-hover">Стать дилером</a>
      <a href="#footer" class="link link-hover">Контакты</a>
    </nav>
    <div class="divider divider-horizontal"></div>

    <div>
      <h6 class="footer-title">Контакты</h6>
      <p>+7 (343) 343 96-99</p>
      <p>г. Березовский</p>
    </div>
    <div class="divider divider-horizontal"></div>

    <div>
      <h6 class="footer-title">Реквизиты</h6>
      <p>ООО Сага Дорс</p>
      <p>ИНН 6671287803</p>
    </div>
  </div>
  <div class="divider divider-vertical"></div>
  <div class="footer footer-bottom">
    <div>
      <p>© 2026 Сага Дорс. Все права защищены</p>
    </div>
    <nav aria-label="Мессенджеры">
      <a href="#" aria-label="Мессенджер Max">
        <img
          src="/web/assets/images/max-messenger.svg"
          alt="Мессенджер Max"
          width="24px"
          height="24px"
        />
      </a>
    </nav>
  </div>
</footer>
{{end}}
